
@font-face {
    font-family: 'Rubik';
    src: url('RubikLight.eot');
    src: url('RubikLight.eot') format('embedded-opentype'),
         url('RubikLight.woff2') format('woff2'),
         url('RubikLight.woff') format('woff'),
         url('RubikLight.ttf') format('truetype'),
		 url('RubikLight.svg#RubikLight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('RubikRegular.eot');
    src: url('RubikRegular.eot') format('embedded-opentype'),
         url('RubikRegular.woff2') format('woff2'),
         url('RubikRegular.woff') format('woff'),
         url('RubikRegular.ttf') format('truetype'),
		 url('RubikRegular.svg#RubikRegular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('RubikMedium.eot');
    src: url('RubikMedium.eot') format('embedded-opentype'),
         url('RubikMedium.woff2') format('woff2'),
         url('RubikMedium.woff') format('woff'),
         url('RubikMedium.ttf') format('truetype'),
		 url('RubikMedium.svg#RubikMedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('RubikBold.eot');
    src: url('RubikBold.eot') format('embedded-opentype'),
         url('RubikBold.woff2') format('woff2'),
         url('RubikBold.woff') format('woff'),
         url('RubikBold.ttf') format('truetype'),
		 url('RubikBold.svg#RubikBold') format('svg');
	font-weight: 700;
	font-style: normal;
}

